---
import Logo from "./Logo.astro";
import { SquareMenuIcon } from '@lucide/astro';

const { class: className } = Astro.props;
---

<header class:list={["header", className]}>
	<div>
	<button class="button header__sidebar-toggle" title="Toggle menu">
		<SquareMenuIcon size={30} />
	</button>
	<h1 class="header__title">
		<a href="/" aria-label="Return to vBEM Home">
			<Logo size="header" />
		</a>
	</h1>	
	</div>
	<div>
		<button class="button header__button header__button--clone" id="markdown-clone" title="Copy Docs as Contextual Markdown">
			<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="currentColor" d="M12.288 20.713Q12 20.425 12 20v-6q0-.825.588-1.412T14 12h6q.825 0 1.413.588T22 14v6q0 .425-.288.713T21 21t-.712-.288T20 20v-6h-2v4q0 .425-.288.713T17 19t-.712-.288T16 18v-4h-2v6q0 .425-.288.713T13 21t-.712-.288M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h4.175q.275-.875 1.075-1.437T12 1q1 0 1.788.563T14.85 3H19q.825 0 1.413.588T21 5v4q0 .425-.288.713T20 10t-.712-.288T19 9V5h-2v2q0 .425-.288.713T16 8H8q-.425 0-.712-.288T7 7V5H5v14h4q.425 0 .713.288T10 20t-.288.713T9 21zm7.713-16.288Q13 4.425 13 4t-.288-.712T12 3t-.712.288T11 4t.288.713T12 5t.713-.288"/></svg>
		</button>
		<a class="button header__button" href="https://github.com/f1yn/vBEM" title="Visit our GitHub">
			<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="10 10 82 82"><path fill="currentColor" fill-rule="evenodd" d="M49.998 11.963C28.461 11.963 11 29.425 11 50.965c0 17.231 11.172 31.849 26.671 37.003c1.952.361 2.662-.84 2.662-1.877c0-.924-.034-3.375-.051-6.633c-10.849 2.359-13.138-5.229-13.138-5.229c-1.774-4.505-4.331-5.703-4.331-5.703c-3.541-2.418.269-2.371.269-2.371c3.914.277 5.974 4.018 5.974 4.018c3.478 5.96 9.129 4.235 11.35 3.243c.353-2.525 1.363-4.24 2.476-5.217c-8.659-.984-17.763-4.33-17.763-19.274c0-4.259 1.519-7.741 4.013-10.468c-.399-.982-1.74-4.947.383-10.319c0 0 3.274-1.048 10.726 4.001c3.109-.869 6.446-1.303 9.763-1.316c3.312.014 6.65.447 9.763 1.316c7.447-5.049 10.716-4.001 10.716-4.001c2.128 5.372.788 9.337.388 10.319c2.5 2.727 4.008 6.209 4.008 10.468c0 14.979-9.117 18.279-17.805 19.241c1.398 1.205 2.646 3.59 2.646 7.229c0 5.211-.047 9.416-.047 10.695c0 1.045.701 2.26 2.681 1.873C77.836 82.798 89 68.191 89 50.965c0-21.54-17.461-39.002-39.002-39.002" clip-rule="evenodd"/></svg>
		</a>
		<a class="button header__button header__button--flynn" href="https://flyn.ca" title="Visit my website">
			<img src="/flynn.png" height="24" />
		</a>
	</div>
</header>

<style lang="scss" is:global>
	@use '@/styles/tokens.scss' as *;

	.header {
		--item-size: 52px;

		padding: 0 var(--spacing-4);
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-header);
		border-bottom: solid 1px var(--color-primary-lightest);

		& > div {
			display: flex;
			gap: var(--spacing-3);
		}

		&__sidebar-toggle {
			--display: none;
			--padding-y: var(--spacing-2);
			--padding-x: var(--spacing-1);
			--background: var(--color-background);

			display: var(--display);

			// IMPORTANT: Notice how don't have to compete with specificity here?
			// It's normalized using the flatter specificity, so the breakpoint modulates
			// based on order! (yum yum)
			:root.alive & {
				@include breakpointBefore('tablet') {
					--display: flex;
				}
			}

			:root.home & {
				@include breakpointBefore('tablet') {
					--display: none;
				}
			}
		}

		&__title {
			display: flex;

			& > a {
				display: contents;
			}
		}

		// Expands the .button component!
		&__button {
			// Configures the button!
			--padding-x: 0;
			--padding-y: 0;
			--radius: 50%;
			--background: transparent;
			--border-width: 0;
			
			// Properties
			--opacity: .7;

			opacity: var(--opacity);
			width: var(--item-size);
			height: var(--item-size);

			&:hover,
			&:focus {
				--opacity: 1;
			}

			&--flynn {
				--background: linear-gradient(-90deg, rgba(0,0,0,.2), rgba(255,255,255,.2));

				img {
					image-rendering: pixelated;
   					filter: contrast(1);
				}
			}

			&--clone {
				--background: rgba(0,0,0,.1);
			}
		}
	}
</style>

<script>
	const sidebarContentElement = document.querySelector('.sidebar__content');
	document.getElementById('markdown-clone')?.addEventListener('click', async() => {
		const response = await fetch('/llms.txt');
		const rawText = await response.text();
		await navigator.clipboard.writeText(rawText);
	});

	document.querySelectorAll<HTMLButtonElement>('.header__sidebar-toggle').forEach((button) => {
		function onBlurClick(e: MouseEvent) {
			const target = e.target as HTMLElement;

			// Avoid processing the toggle button
			if (button.contains(target)) {
				return;
			}

			// If we blue the open nav, remove the root modifier flag
			if (!sidebarContentElement?.contains(target)) {
				document.documentElement.classList.remove('mobile-show-sidebar');
			}
		}

		button.addEventListener('click', () => {
			// WHen the to
			const { classList } = document.documentElement;
			const alreadyOpen = classList.contains('mobile-show-sidebar')

			if (alreadyOpen) {
				classList.remove('mobile-show-sidebar');
				window.removeEventListener('click', onBlurClick);
			} else {
				classList.add('mobile-show-sidebar');
				window.addEventListener('click', onBlurClick);
			}
		})
	})
</script>