---
import { getCollection } from "astro:content";
import { extractTitleFromRawMarkdown, isPathMatchCreator } from '@/common';

const allDocs = await getCollection("docs");

const path = Astro.url.pathname;

const pages = [
	{ title: "Home", path: "/", astroPath: '/' },
	{ title: "Introduction", path: "/intro", astroPath: "/intro" },
	...allDocs.map((doc) => {
		return {
			title: extractTitleFromRawMarkdown(doc.body!),
			path: `/docs/${doc.id}.md`,
			astroPath: `/docs/${doc.id}`,
		}
	}).reverse()
] as { title: string, path: string, astroPath: string }[]

const isMatch = isPathMatchCreator(path);

---

<nav class:list={["sidebar", Astro.props.class]}>
	<div class="sidebar__content">
		<ul class="sidebar__list">
			{pages.map((page) => (
				<li class:list={["sidebar__item", (isMatch(page.path) || isMatch(page.astroPath)) && 'sidebar__item--active']}>
					<a href={page.path} class="sidebar__item__link">
						{page.title}
					</a>
				</li>
			))}
		</ul>
		<footer class="sidebar__footer">
			<p>Built proudly using <a href="https://astro.build/">Astro</a> with <strong>vBEM</strong></p>
			<p>License: <a href="https://github.com/f1yn/vBEM/blob/main/LICENSE.md">MIT</a> | © <a href="https://flyn.ca/">Flynn</a> 2025-2026</p>
		</footer>
	</div>
</nav>

<style lang="scss" is:global>
	@use '@/styles/tokens.scss' as *;

	.sidebar {
		position: relative;

		&__content {
			--right: 0;
			--box-shadow: none;

			right: var(--right);
			box-shadow: var(--box-shadow);

			display: flex;
			flex-direction: column;
			position: absolute;
			top: 0;
			z-index: 1;
			width: var(--sidebar-size);
			height: 100%;
			overflow-y: auto;
			background-color: var(--color-sidebar);
			border-right: solid 1px var(--color-primary-lightest);
			transition: right var(--transition-2), box-shadow var(--transition-2);

			// Shows the sidebar when toggled (on mobile)
			@include breakpointBefore('tablet') {
				:root.mobile-show-sidebar & {
					--box-shadow: 5px 8px 12px rgba(0,0,0, .2);
					--right: calc(var(--sidebar-size) * -1);
				}
			}
		}

		&__list {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: var(--spacing-2);
			padding: var(--spacing-4) 0;
		}

		&__item {
			--accent: var(--color-primary);
			--color: var(--color-primary-darkest);
			--accent-width: 3px;

			&--active {
				--accent: var(--color-interactive);
				--color: var(--color-text-emphasis);
			}

			&:hover {
				--accent: var(--color-text-emphasis);
				--accent-width: 5px;
			}

			// IMPORTANT: Unlike traditional BEM, we know that this element
			// will always descend the above (and relies directly on it's CSS properties)
			&__link {
				@extend .link;

				position: relative;
				display: block;
				padding: var(--spacing-3) var(--spacing-5);
				text-decoration: none;
				font-size: var(--font-size-4);
				font-weight: 500;
				transition: color var(--transition-1);

				// accent block
				&::after {
					width: var(--accent-width);

					display: block;
					content: "";
					position: absolute;
					left: var(--spacing-2);
					top: 0;
					height: 100%;
					background-color: var(--accent);
					transition: background-color var(--transition-2), width var(--transition-2);
				}
			}
		}

		&__footer {
			display: flex;
			flex-direction: column;
			padding: var(--spacing-3);
			background-color: var(--color-header);
			border-top: solid 1px var(--color-primary-lightest);
			font-size: var(--font-size-2);
			gap: var(--spacing-2);

			// REFLECT: SCSS isn't a requirement for vBEM, but we might benefit
			// from composites (using mixins)
			a {
				@extend .link;
			}
		}
	}
</style>